@import "root.css";
@import "./utils/*.css";

*,
::before,
::after,
:before,
:after {
  box-sizing: inherit;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@custom-media --small-viewport (max-width: 30rem);
@custom-media --medium-viewport (min-width: 30rem);
@custom-media --large-viewport (min-width: 75rem);
@custom-media --xlarge-viewport (min-width: 100rem);

/*
usage:

@media (--large-viewport) {
  .el {
    display: block;
  }
}

*/

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  font-family: Raleway, sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
}

.owl > * + * {
  margin-top: 1rem;
}

.owl-xs > * + * {
  margin-top: .5rem;
}

