html {
	margin: 0;
	padding: 0;

	font-family: Helvetica, Arial, sans-serif;
}

body {
	padding: 20px;
}

header {
	padding: 10px 0;
}
header img {
	max-width: 100px;
	margin-bottom: 10px;
}
header a {
	margin-right: 10px;
}

