.row-start,
.row-end,
.row-center,
.row-around,
.row-between,
.col-around,
.col-between,
.col-center,
.col-end,
.col-start {
display: flex;
}

.row-start,
.row-end,
.row-center,
.row-around,
.row-between{
flex-direction: row;
}

.col-around,
.col-between,
.col-center,
.col-end,
.col-start {
flex-direction: column;
}



.row-start {
  justify-content: flex-start;
}

.row-end {
  justify-content: flex-end;
}

.row-center {
  justify-content: center;
}

.row-around {
  justify-content: space-around;
}

.row-between {
  justify-content: space-between;
}

.col-center {
  justify-content: center;
}

.col-start {
  justify-content: flex-start;
}

.col-end {
  justify-content: flex-end;
}

.col-around {
  justify-content: space-around;
}

.col-between {
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.align-items-start{
  align-items: flex-start;
}

.align-items-end{
  align-items: flex-end;
}

.align-items-baseline{
  align-items: baseline;
}

.align-items-default{
  align-items: stretch;
}