html {
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: var(--txtColor);
  font-size: 16px;
  font-size: 1rem;
}

@media screen and (max-width: 640px) {
  * {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}

.txt-xs {
  font-size: 10px;
  font-size: .6rem;
}

.txt-s {
  font-size: 12px;
  font-size: .7rem;
}

.txt-l {
  font-size: 19px;
  font-size: 1.2rem;
}

.txt-xl {
  font-size: 48px;
  font-size: 3rem;
}

.txt-center {
  text-align: center;
}
.txt-ellipsis {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}
